
    
  
    



{% extends "base.html" %}

{% load static %}


{% block content %}



<div style="background-color: rgb(223, 143, 180);"
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">HOME</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

<a href = "/add-listing/" class ="text-blue-500">Create a new listing</a>



{% for listing in listings %} 
<div>


   

</div>
<div style="background-color: rgb(223, 143, 180);"

<div class ="px-3 py-1 bg-gray-100 rounded sm">
    <h3 class = "text-3xl text-gray-900">{{listing.Id}}</h3>


    <a href = "/listings/{{ listing.Id}}/" class ="text-blue-500">
           View details
    </a>
</div>
</div>
</div>
</div>



    
    
    
    {% endfor %}

    {% endblock content %}


</body>
</html>